[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Intens URI Handler
Icon=/usr/local/intens/current/bitmaps/semafor.xpm
Exec=intens --uriHandler %u
Terminal=false
Comment=INTENS‑URL handler
Categories=Application;Network;
MimeType=x-scheme-handler/intens;
